body{
	background:url(../css/images/bj.png) no-repeat fixed center top;;
	background-color: #6ec4fd;
/* 	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%; */

}
.loginbox{
	background:url(../css/images/bj_k.png) no-repeat;
	
}

.loginbox ul{
	    padding-top: 80px;
}
.loginbox{
	margin: 0 auto;
}

.loginbody{
	top: 24%;
}
.nav{
	background-color: #038adc;
	padding: 10px 0;
	text-align: center;
}
.wk_lo{
	width: 50%;
	float: left;
}

.fxuan{
	width: 50%;
	float: left;
	height: 35px;
	text-align: center;
	line-height: 35px;
}
.fx_dw{
	margin-right: 10px;
	position: relative;
    top: 1px;
}
.dengr{
	width: 50%;
	float: left;
}
.jz_mm{
	font-size: 16px;
}
