
/* .tree-node{
	height: 35px;
	line-height: 35px;
	
}
.tree-node span{
	vertical-align: middle;
}
.tree-folder-open{
	width: 18px;
	height: 20px;
}

.easyui-fluid,.layout-body{
	background-color: #258fc9;
} */
